body{
    background: black;
}

footer{
position: absolute;
top: 94%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

#thumbnail{
 width: 100%;
transition: 1s;
}

#bg{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter:blur(5px);
}


.container{
    position: absolute;
    height: 400pt;
    width: 250pt;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 50px black;
}

.song-name{
    position: absolute;
    height: 190pt;
    width: 400pt;
    background: linear-gradient(45deg, rgb(72,0,138), rgb(0,199,149));
    filter: blur(30px);
    top: -25%;
}

.box{
    position: absolute;
    height: 190pt;
    width: 400pt;
    background: linear-gradient(45deg, rgb(72,0,138), rgb(0,199,149));
    filter: blur(30px);
    bottom: -15%;
}

.song-title{
    position: absolute;
    font-family: sans-serif;
    font-size: 25px;
    top: 8%;
    color: white;
}

#play-pause{
    position:absolute;
    height: 50px;
    width: 20px;
    color: white;
    cursor: pointer;
    bottom: 12%;
}

#next-song, #previous-song, #repeat-song, #more-options, 
#list-of-options{
    position: absolute;
    height: 50px;
    width: 30px;
    color: white;
    cursor: pointer;
    bottom: 12%;
}

#next-song{
    right: 23%;
}

#previous-song{
    left: 27%;
}

#repeat-song{
    left: 10%;
    bottom: 10%;
}

#more-options{
    right: 5%;
    bottom: 10%;
    z-index: 2;
}

#list-of-options{
    position: absolute;
    height: 100pt;
    width: 20pt;
    margin: auto;
    top: 217px;
    right: 0;
    left: 370px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(72,0,138);
    border-radius: 8px;
    box-shadow: 0 0 50px black;
    z-index:1;
    visibility: hidden;
}

#list-of-options li{
    position: relative;
    margin: 10px;
    margin-left: 28px;
    right: 34px;
}

#options{
    position: absolute;
    margin: auto;
    top: 330px;
    right: 0;
    left: 320px;
    bottom: 0;
    background: rgb(72,0,138);
    width: 25pt;
    height: 15pt;
    z-index: 2;
    transform: skewX(-60deg);
    visibility: hidden;
}


input[type=range]{
    -webkit-appearance: none;
    position: absolute;
    width: 160pt;
    bottom: 7%;

}

input[type=range]::-webkit-slider-runnable-track{
    background:black;
    width: 30px;
    height: 5px;
    border:none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}
